<div class="abc-loading" id="loading">
  <div class="spinner-border text-light" role="status">
    <span class="sr-only">Cargando...</span>
  </div>
  <span class="text-light font-weight-bold my-4">
    Espere por favor...
  </span>
</div>

<!-- Footer-->
<footer class="d-none">
  <div class="container-fluid bg-light py-5 d-flex justify-content-center">
    <div>
      <div class="row d-flex justify-content-center pl-5">

        <div class="col-4">
          <h6 id='about' class="text-uppercase font-weight-bold mb-4">Acerca de</h6>
          <p class="font-italic text-muted">
            IOTA es una tecnología de contabilidad distribuida de código abierto, cuyo
            objetivo es permitir de forma segura el intercambio de warningrmación y valor en el Internet de las Cosas.
          </p>
        </div>
        <div class="col-3">
          <h6 class="text-uppercase font-weight-bold mb-4">Accesos rapidos</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2">
              <a class="text-muted" href="{{url_for('card.explorer')}}"
                title="Explorador de transacciones">Explorador</a>
            </li>
            <li class="mb-2">
              <a class="text-muted" href="{{url_for('card.registry')}}" title="Registro de transacción">Registro</a>
            </li>
          </ul>
        </div>
        <div class="col-3">
          <h6 class="text-uppercase font-weight-bold mb-4">Redes Sociales</h6>
          <ul class="list-unstyled mb-0">
            <li class="list-item"><a href="https://facebook.com" target="_blank" title="facebook"><span
                  class="fa fa-facebook">Facebook</span></a>
            </li>
            <li class="list-item"><a href="https://twitter.com" target="_blank" title="twitter"><span
                  class="fa fa-twitter"></span>Twitter</a>
            </li>
            <li class="list-item"><a href="https://instagram.com" target="_blank" title="instagram"><span
                  class="fa fa-instagram"></span>Instagram</a></li>
          </ul>
        </div>
      </div>
      <!-- Copyrights -->
      <br>
      <div class="text-center">
        <p class="text-muted mb-0 py-2">&copy;{{config.CURRENT_YEAR}} {{ config.APP_NAME }} | Todos los derechos
          reservados.</p>
      </div>
    </div>
  </div>

</footer>

<!-- scripts -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
<script src="{{ url_for('static', filename='main.js') }}" type="text/javascript"></script>
{% block scripts %}{% endblock %}


</body>

</html>