<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}

        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismisible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <p class="d-none d-sm-inline d-sm-none m-0 p-0">{{ message | safe }}</p>
                <small class="d-sm-none m-0 p-0">{{ message | safe }}</small>
            </div>
        {% endfor %}
        
    {% endif %}

{% endwith %}