/* custom css */

.text-ellipsis{
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.abc-loading {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #000000a1;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.abc-loading__content {
    width: 7vmax;
    height: 7vmax;
}
@media screen and (min-width: 992px) {
    .abc-loading__content {
        width: 4.5vmax;
        height: 4.5vmax;
    }
}
.abc-loading__frame {
    width: 100%;
    height: 100%;
}
.abc-loading:target {
    display: block;
}

.spinner-border {
    width: 5rem !important;
    height: 5rem !important;
    border: 0.4em solid currentColor;
    border-right-color: transparent;
    -webkit-animation: spinner-border 1.25s linear infinite !important;
    animation: spinner-border 1.25s linear infinite !important;
}