<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png">

  <title>{{ config.APP_NAME }}</title>

  <!-- TODO define styles -->
  <!-- meta -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  {% block meta %}{% endblock %}


  <!-- TODO define links such as styles -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" media="screen">

  {% block links %}{% endblock %}

</head>

<body style="background-color: rgb(243, 240, 214);" class="w-100 d-inline">

  {% include 'components/header.html' %}

  <div class="row">
    <div class="container my-5 col-11 col-xl-7 col-lg-8 col-md-9 col-sm-10 mx-auto">

      <!--  Flash messages -->
      {% include 'components/messages.html' %}

      <!-- Main Content -->

      {% block content %}{% endblock %}

    </div>
  </div>

  {% include 'components/footer.html' %}