{% extends 'core/base.html' %}

{% block content %}

<h2>Detalle Tarjeta</h2>
<hr>

<div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12 mx-auto">

    {% if card %}

    <div class="form-row">
        <div class="form-group col-lg-12">
            <label for="input_radicado">Radicado</label>
            <input type="text" class="form-control" id="input_radicado" name="radicado" value="{{card.radicado}}"
                readonly>
        </div>

        {% if tail_transaction_hash %}
        <div class="form-group col-lg-12">
            <label for="input_tail_transaction_hash">IOTA Transaction Hash</label>
            <input type="text" class="form-control" id="input_tail_transaction_hash" name="tail_transaction_hash"
                value="{{tail_transaction_hash}}" readonly>
        </div>
        {% endif %}

    </div>
    <hr>

    <label><b>Vehiculo</b></label>
    <div class="form-row">
        <div class="form-group col-lg-6 col-sm-6">
            <label for="input_placa">Placa</label>
            <input type="text" class="form-control" id="input_placa" name="placa_vehiculo"
                value="{{card.placa_vehiculo}}" readonly>
        </div>
        <div class="form-group col-lg-6 col-sm-6">
            <label for="input_placa">Nº Tarjeta</label>
            <input type="number" class="form-control" id="input_tarjeta_vehiculo" name="tarjeta_vehiculo"
                value="{{card.tarjeta_vehiculo}}" readonly>
        </div>
    </div>
    <hr>

    <label><b>Tarjeta Operación</b></label>
    <div class="form-row">
        <div class="form-group col-lg-6">
            <label>Número</label>
            <input type="text" class="form-control" id="numero" name="numero" value="{{card.numero_tarjeta_operacion}}"
                readonly>
        </div>
        <div class="form-group col-lg-6">
            <label for="input_fecha_vencimiento">Fecha Vencimiento</label>
            <input type="text" class="form-control" id="fecha_vencimiento" name="fecha_vencimiento"
                value="{{card.fecha_vencimiento}}" readonly>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-lg-6">
            <label for="input_fecha_vencimiento">Fecha Inicio Vigencia</label>
            <input type="text" class="form-control" id="fecha_vencimiento" name="fecha_vencimiento"
                value="{{card.fecha_inicio_vigencia}}" readonly>
        </div>
        <div class="form-group col-lg-6">
            <label for="input_fecha_renovacion">Fecha Fin Vigencia</label>
            <input type="text" class="form-control" id="fecha_renovacion" name="fecha_renovacion"
                value="{{card.fecha_fin_vigencia}}" readonly>
        </div>
    </div>


    <hr>
    <label><b>Conductor</b></label>
    <div class="form-row">
        <div class="form-group col-lg-5">
            <label>Tipo de Documento</label>
            <input type="text" class="form-control" id="input_cedula" name="documento_conductor"
                value="{{card.tipo_documento_conductor}}" readonly>
        </div>
        <div class="form-group col-lg-7">
            <label>Número Documento</label>
            <input type="text" class="form-control" id="input_cedula" name="documento_conductor"
                value="{{card.documento_conductor}}" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-12">
            <label>Nombre</label>
            <input type="text" class="form-control" id="input_nombre" name="nombre_conductor"
                value="{{card.nombre_conductor}}" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-lg-12">
            <label>Licencia Nº</label>
            <input type="number" class="form-control" id="input_nombre" name="licencia_conductor"
                value="{{card.licencia_conductor}}" readonly>
        </div>
    </div>
    <hr>

    <br>

    {% endif %}

    <div class="form-row d-flex justify-content-center">
        <a href="{{ url_for('card.explorer') }}" class="btn btn-outline-warning rounded col-4">Atras</a>
    </div>

</div>


<br>

{% endblock %}