{% extends 'core/base.html' %}

{% block content %}


<h1 ><span class="text-warning">TARJETA AMARILLA </span> IOTA DLT!</h1>
<hr>
<div class="container w-100">
  <div class="row">
    <div class="col-7">
      <a href="iota.org" class="text-warning" target="_blank">IOTA</a> es una tecnología de contabilidad distribuida de código abierto, cuyo objetivo es permitir de forma segura el
      intercambio de warningrmación y valor en el Internet de las Cosas.
      <br><br>
      Además de ser una criptomoneda muy segura y fácil para transar, <a href="iota.org" class="text-warning" target="_blank">IOTA</a> tiene aplicaciones en ciudades inteligentes,
      movilidad, identidad digital, impacto social y comercio global.
      <br><br>
      <a href="iota.org" class="text-warning" target="_blank">IOTA</a> es open source, un “blockchain”, una capa de confianza, un protocolo de IoT, un DLT escalable y no tiene
      tarifas de mineros.
      

    </div>
    <div class="col-5">
      <img src="{{ url_for('static', filename='img/iota_tangle.png') }}" alt="" width="55%" height="90%">
    </div>
  </div>
  <div class="row p-3"></div>
  <div class="row">
    <div class="col-4">
      <img src="{{ url_for('static', filename='img/taxi-icon.png') }}" alt="" width="80%" height="100%">
    </div>
    <div class="col-8">
      
      Esta Web App tiene como funcionalidades principales demostrar la escritura y lectura de transacciones en una red
      privada de <a href="iota.org" class="text-warning" target="_blank">IOTA</a> o Private Tangle, por medio de consultas y registros en a un servicio web Rest expuesto por la
      red.
      <br><br>
      Además, se evidencia la inmutabilidad y seguridad de datos que brindan los DLT´s a comparación de los otros
      sistemas de almacenamiento tradicionales, como bases de datos transaccionales y archivos estáticos planos.
      <br><br>
      En la parte superior derecha podrás encontrar los accesos nuestras funcionalidades para interactuar con el Private
      Tangle.

    </div>
  </div>
</div>
<p class="px-2">
  <br>

  <i>
    Desarrollado en
    <a href="https://www.python.org/" target="_blank" class="text-warning">Python</a>
    <a href="https://flask.palletsprojects.com/" target="_blank" class="text-warning">Flask</a>
    <!-- por
    <a href="https://gitlab.com/juanesquintero/" target="_blank" class="text-warning"><b>juanesquintero</b></a>. -->

    <br>
    Agradecimientos especiales a la comunidad
    <a href="https://www.iota.org/" target="_blank" class="text-warning"><a href="iota.org" class="text-warning" target="_blank">IOTA</a> Foundation </a>
    que hace este proyecto posible.
  </i>
</p>
<br>

{% endblock %}