{% extends 'core/base.html' %}

{% block content %}

<h2 class="">Tarjeta de Control</h2>
<hr>

<div class="row w-100">
    <form method="POST" action="{{url_for('card.registry')}}" class="col-lg-8 col-sm-12 mx-auto">

        <div class="form-row">
            <div class="form-group col-lg-12">
                <label for="input_radicado"><b>Radicado</b></label>
                <input type="text" class="form-control bg-light" id="input_radicado" name="radicado" value="{{radicado}}"
                    readonly required>
            </div>
    
        </div>
        <hr>
    
        <label><b>Vehiculo</b></label>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label for="input_placa">Placa</label>
                <input type="text" class="form-control" id="input_placa" name="placa_vehiculo" placeholder="ABC123" required>
            </div>
            <div class="form-group col-lg-6">
                <label for="input_placa">Nº Tarjeta</label>
                <input type="number" class="form-control" id="input_tarjeta_vehiculo" name="tarjeta_vehiculo" placeholder="01" required>
            </div>
        </div>
        <hr>
    
        <label><b>Tarjeta Operación</b></label>
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label>Número</label>
                <input type="number" class="form-control" id="input_numero_tarjeta" name="numero_tarjeta_operacion" placeholder="123456789" required>
            </div>
            <div class="form-group col-lg-6">
                <label for="input_fecha_vencimiento">Fecha Vencimiento</label>
                <input type="date" class="form-control" id="input_fecha_vencimiento" name="fecha_vencimiento" required>
            </div>
        </div>
    
        <div class="form-row">
            <div class="form-group col-lg-6">
                <label for="input_fecha_renovacion">Fecha Inicio Vigencia</label>
                <input type="date" class="form-control" id="input_fecha_renovacion" name="fecha_inicio_vigencia" required>
            </div>
            <div class="form-group col-lg-6">
                <label for="input_fecha_renovacion">Fecha Fin Vigencia</label>
                <input type="date" class="form-control" id="input_fecha_renovacion" name="fecha_fin_vigencia" required>
            </div>
        </div>
    
    
        <hr>
        <label><b>Conductor</b></label>
        <div class="form-row">
            <div class="form-group col-lg-5">
                <label>Tipo de Documento</label>
                <select id="input_tipo_documento_conductor" name="tipo_documento_conductor" class="form-control" required>
                    {% for id_type in dni_types %}
                    <option value="{{id_type}}">{{id_type}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-lg-7">
                <label>Número Documento</label>
                <input type="number" class="form-control" id="input_documento_conductor" name="documento_conductor" placeholder="123456789" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-lg-12">
                <label>Nombres y Apellidos</label>
                <input type="text" class="form-control" id="input_nombre_conductor" name="nombre_conductor" placeholder="Pepe Perez Sosa"
                    required>
            </div>
            <div class="form-group col-lg-12">
                <label>Licencia Nº</label>
                <input type="number" class="form-control" id="input_licencia_conductor" name="licencia_conductor" placeholder="123456789"
                    required>
            </div>
        </div>
        <hr>
    
    
        <div class="form-row d-flex justify-content-center">
            <div class="col-4">
            </div>
        </div>
    
        <br>
    
        <div class="form-row d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-warning rounded col-4">Enviar</button>
        </div>
    
    </form>
</div>


<br>

{% endblock %}